<ul style="margin: 0; padding: 0; list-style-type: none;">
    <li><a href="@Url.Action("Kirish", "cs", new { section = "C#" })">1. C# dasturlash tili. Consoleda kiritish-chiqarish.</a></li>
    <li><a href="@Url.Action("mantiqiy", "cs", new { section = "C#" })">2. C# dasturlash tilida ifodalar va mantiqiy amallar</a></li>
    <li><a href="@Url.Action("Math", "cs", new { section = "C#" })">3. Math kutubxonasi</a></li>
    <li><a href="@Url.Action("Shart", "cs", new { section = "C#" })">4. if-else, ?: va switch shart operatorlari</a></li>
    <li><a href="@Url.Action("Takrorlash", "cs", new { section = "C#" })">5. goto, while, do-while, for takrorlash operatorlari</a></li>
    <li><a href="@Url.Action("Massiv", "cs", new { section = "C#" })">6. Bir va ko’p o‘lchamli massivlar bilan ishlash</a></li>
    <li><a href="@Url.Action("Satr", "cs", new { section = "C#" })">7. Satrlar bilan ishlash. string turi</a></li>
    <li><a href="@Url.Action("", "cs", new { section = "web" })">8. Metodlardan foydalanib dastur tuzish</a></li>
    <li><a href="@Url.Action("", "cs", new { section = "web" })">9. Rekursiv va qayta yuklanuvchi metodlarga oid misollar yechish</a></li>
    <li><a href="@Url.Action("", "cs", new { section = "web" })">10. Sanab o‘tiluvchi tur. Kortejlar</a></li>
    <li><a href="@Url.Action("", "cs", new { section = "web" })">11. Strukturalar. Dinamik strukturalar</a></li>
    <li><a href="@Url.Action("", "cs", new { section = "web" })">12. Sinf yaratish va ob’ektlarni hosil qilish</a></li>
    <li><a href="@Url.Action("", "cs", new { section = "web" })">13. Murojaat modifikatorlari. Maydon va metodlar</a></li>
    <li><a href="@Url.Action("", "cs", new { section = "web" })">14. Xossalardan foydalanish. Berilganlar uchun get va set bloklarini aniqlash</a></li>
    <li><a href="@Url.Action("", "cs", new { section = "web" })">15. Statik berilganlardan foydalanish. Statik metodlar bilan ishlash</a></li>
    <li><a href="@Url.Action("", "cs", new { section = "web" })">16. Nomlar fazosidan foydalanish. dll kutubxona yaratish va bog‘lash</a></li>
    <li><a href="@Url.Action("", "cs", new { section = "web" })">17. Unar va binar operatorlarni qayta yuklash</a></li>
    <li><a href="@Url.Action("", "cs", new { section = "web" })">18. Sinfning konstanta maydonlari. Qism sinflar bilan ishlash</a></li>
    <li><a href="@Url.Action("", "cs", new { section = "web" })">19. Voris sinflarni yaratish va foydalanish</a></li>
    <li><a href="@Url.Action("", "cs", new { section = "web" })">20. Polimorfizm. Virtual metodlar</a></li>
    <li><a href="@Url.Action("", "cs", new { section = "web" })">21. Virtual xossalar. Metodlarni yashirish va qayta aniqlash</a></li>
    <li><a href="@Url.Action("", "cs", new { section = "web" })">22. Abstrakt sinflar e’loni. Abstrakt berilganlar va metodlar</a></li>
    <li><a href="@Url.Action("", "cs", new { section = "web" })">23. Abstrakt metodlarni voris sinflarda qayta aniqlash.</a></li>
    <li><a href="@Url.Action("", "cs", new { section = "web" })">24. Interfeyslar</a></li>
    <li><a href="@Url.Action("", "cs", new { section = "web" })">25. Interfeyslarda metodlar e’lon qilish, vorislarida ularni qayta aniqlash va qo’llash</a></li>
    <li><a href="@Url.Action("", "cs", new { section = "web" })">26. Umumlashgan sinflar e’lon qilish va obyektlari bilan ishlash</a></li>
    <li><a href="@Url.Action("", "cs", new { section = "web" })">27. Umumlashgan turlar vorisligi</a></li>
    <li><a href="@Url.Action("", "cs", new { section = "web" })">28. Istisnolar. Istisnolar turlari</a></li>
    <li><a href="@Url.Action("", "cs", new { section = "web" })">29. Istisnolarni ilib olish. Istisnolarni yuzaga keltirish. finally bloke</a></li>
</ul>